* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DO NOT TOUCH */

body {
    font-family: 'Open Sans', sans-serif;
    /* Could not overide font size cause unknown */
}

iframe{
    width: 100%;
}

/* img{
    max-width: 100%;
} */

h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Could not differentiate H1 and H2 cause unknown */

h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Font size has been set to 1.5em for some reason */

.wrapper {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
}

/* Navigation Bar Settings */

/* Revisit list navbar settings needs improvement and polishing */

nav {
    background-color: #222;
}

nav img{
    max-width: 100%;
}

/* Replaced list with div with a class of page for nav pages */

.page a{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: #c78c06;
    padding: 1rem;
    transition: 0.3s;
    transition-timing-function: ease;
}

/* NavLogo Settings */

.navLogo{
    background-color: #c78c06;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Redo nav button animation */

nav a:hover{
    background-color: #c78c06;
    color: #222;
}

/* Seach Bar */

/* try adding flexbox in form to wrap the input and button together */
.navPages form{
    display: flex;
    flex-wrap: nowrap;
}

/* Flex nowrap fixes the search bar and icon from separating to each other therefore input can now have 100% width */
nav input {
    padding: 12px 18px;
    cursor: text;
    width: 100%;
}

nav button{
    border: 1px solid #c78c06;
    background-color: #222;
    color: #c78c06;
    text-align: center;
    padding: 12px;
    transition: ease-in-out .3s;
    cursor: pointer;
}

nav button:hover{
    background-color: #c78c06;
    color: #222;
}

/* Main Banner settings */

/* Use flexbox for text over image or grid */

/* Position absolute makes text over image */

/* Align banner contents properly */

/* .site-banner{
    display: flex;
    align-content: center;
} */

/* Site banner image */

/* .site-banner img{
    width: 100%;
}

.banner-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    padding:1rem;
    color: white;
}

.banner-description{
    margin-bottom: 3rem;
    margin-top: 1rem;
} */

/* Connect with us button settings */

/* .connect-button a{
    padding: 2rem;
    background-color: #c78c06;
    text-decoration: none;
    color: #222;
} */

/* rgba for black frame for text over main image banner */

/* layout rough css for most content */

/* About Us content settings */

/* .about-us{
    background-color: #ffe6ac;
    padding: 1rem;
}

.about-us p{
    margin-top: 1rem;
} */

/* Our services content settings */

/* .services img{
    width: 100%;
}

.services h1,h2{
    padding: 1rem;
}

.service p,a{
    padding: 1rem;
}

.service{
    background-color: #ffe6ac;
} */

/* Service Button */

/* .service-button a{
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 1rem;
    margin-left: 1rem;
}

/* Our Team content settings */

/* .ceo img{
    width: 100%;
}

.ceo{
    background-color: #ffe6ac;
}

.ceo-content{
    padding: 1rem;
}

.ceo p{
    border-top: #c78c06 2px;
}  */


/* Contact Section Form Settings */

/* Contact Section Container */

.contact-section input{
    width: 100%;
    padding: 8px;
}

.contact-section textarea{
    width: 100%;
    padding: 8px;
}

/* form{
    padding-top: 8px;
    padding-bottom: 8px;
} */

/* Send Button settings used div instead of button */
/* Margin top and bottom prevents the button to overlap on top of forms */
.send{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.send a{
    text-decoration: none;
    color: #c78c06;
    background-color: #222;
    padding: 8px;
    transition: .3s;
    border: 1px solid #222;
}

/* Send hover animation */
.send a:hover{
    color: #222;
    background-color: #c78c06;
    border: 1px solid #222;
}

/* Contact Section Table Settings */

/* Border collapes removes spacing */
table{
    width: 100%;
    border-collapse: collapse;
}

table th{
    border: 1px solid;
    padding: 1rem;
    background-color: #ffe6ac;
}

table td{
    border: 1px solid;
    padding: 1rem;
}

/* Footer */

footer{
    background-color: #222;
    color:#c78c06;
}

footer p{
    padding-top: 1rem;
}

footer a{
    color: #c78c06;    
}

/* @media screen and (min-width: 760px){
    .navPages ul{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
} */





/* Desktop Comments */